<app-toolbar></app-toolbar>
<div class="content" role="main">
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <h4>Unit Converter</h4> 
        <p id="ver">Version 1.0</p>
        <p id="desc">This Converter app uses Angular/TypeScript and Bootstrap CSS. </p>  
      </div>
      <div class="card-footer text-muted custom-footer">
        <nav>
          <a routerLink="/converter" class="btn btn-secondary">Home</a>
        </nav>
      </div>   
  </div>
</div>